.login-page {
  padding: 0 50px;
  .top {
    text-align: center;
    margin-top: 20px;
    .padi-logo {
      margin: 40px 0 80px;
      width: 300px;
      height: 120px;
    }
    .avatar {
      margin: 0 auto 30px;
    }
  }
}